* {
    box-sizing: border-box;
}
body {
    background-color: #FFB6C1;
    color: white;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}
